body, div, h1, p{
    padding: 0px;
    margin: 0px;
}

/* Grid Layout */

body{
    display: flex;
    justify-content: center;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template:
    "testimonial-1 testimonial-1 testimonial-3 testimonial-4 "
    "testimonial-2 testimonial-5 testimonial-5 testimonial-4";
    grid-gap: 1.5rem;

    max-width: 85vw;

}

.usr-1{
    grid-area: testimonial-1;
}

.usr-2{
    grid-area: testimonial-2;
}
.usr-3{
    grid-area: testimonial-3;
}
.usr-4{
    grid-area: testimonial-4;
}
.usr-5{
    grid-area: testimonial-5;
}

/* Layout */

.user-profile{
    display: flex;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-profile img{
    border-radius: 100%;
    max-width: 2rem;
    margin-right: .75rem;
}

.testimonial{
    padding: 1.3rem;
}

.testimonial h1 {
    padding:.75rem 0 .75rem 0;
    
}

/* Typography */

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: 600;
}

.cl-text {
    color: hsla(0, 0%, 0%,0.4);
}

.usr-2 > h1, .usr-4 > h1{
    color: hsl(217, 19%, 35%)  ;
}

/* General Style */

body{
    background-color: hsl(0, 0%, 81%);
}


.testimonial{
    border-radius: 5px;
    background-color: white;
}

.user-profile img {
    border: 0.05rem solid white ;
}

.bg-1 {
    background-color: hsl(263, 55%, 52%);
}
.bg-3 {
    background-color: hsl(217, 19%, 35%);
}

.bg-5 {
    background-color: hsl(219, 29%, 14%);
}



/* Media Queries*/

@media (max-width: 400px){
    .container-grid{
        grid-template:
        "testimonial-1"
        "testimonial-2"
        "testimonial-3"
        "testimonial-4"
        "testimonial-5";

        max-width: 70vw;
    }
}

/* @media (max-width: 900px){
    .container-grid{
        grid-template: 
        "testimonial-1 testimonial-2"
        "testimonial-3 testimonial-4"
        "testimonial-5 testimonial-5"
    }
} */